
// SCSS for home and error components.

.home {
  @include span-columns(12);
  height: auto;


  .search {
    @include span-columns(8)
    @include shift(2);
    border-bottom: 1.5px solid darken($background-grey, 5%);
    margin-top: 10px;
    padding: 20px;

    input {
      @include span-columns(7);
    }

    select {
      @include span-columns(3);
    }

    button {
      @include span-columns(2);
      background-color: white;
      border: 2px solid gainsboro;
      padding: 0;
      margin: 0;
      height: 35px;
      font-size: 1em;
      font-weight: 400;

      &:hover {
        background-color: $background-grey;
      }
    }
  }

  .labels {
    @include span-columns(12);
    font-size: .8em;
    color: lighten($body-font, 25%);
    text-align: left;
    padding: 3px;

    label.search-label {
      @include span-columns(7);
    }

    label.limits-label {
      @include span-columns(3);
    }
  }
}

.error {
  @include span-columns(10);
  @include shift(1);

  border: 2px solid darken($background-grey, 3%);
  background-color: lighten($background-grey, 2%);
  border-radius: 5px;
  color: lighten($secondary-font, 10%);
  padding: 15px;
  margin-top: 25px;
}
